
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#container {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#controls {
  margin: 20px;
}

#upperCase {
  margin-top: 10px;
}

#numbers {
  margin-top: 10px;
}

#special {
  margin-top: 10px;
}

#generate {
  margin-top: 20px;
}

#password {
  margin-left: 10px;
}
